{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
<style>
    .bg-image {
        background-image: url('https://images4.alphacoders.com/598/598152.jpg');
        background-size: cover;
        background-position: center;
    }
</style>
{% endblock %}

{% block body %}
<div class="text-center position-relative">
    <div class="col-12 bg-image">
    </div>
    <div class="text-dark position-absolute bottom-0 end-0 me-3 mb-2 fs-1" id="scrollButton"><i class="fas fa-arrow-down"></i></div>
</div>

<div id="contentSection"></div>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <h1 class="text-center">SnowTricks</h1>

            <a href="{{ path('app_trick_new') }}"><span class="badge text-bg-success py-2 fs-6 mb-3"><i class="fas fa-plus"></i> Ajouter une Trick</span></a>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam a est corporis aspernatur laudantium molestiae. Ipsum laboriosam commodi alias sunt expedita odio ipsa quas saepe repellendus labore. Voluptatibus, repellat possimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus saepe, dolorem molestiae aliquam mollitia deserunt nulla nihil laborum ea doloremque aperiam nesciunt ratione perferendis. Placeat voluptates laborum dolores fugit alias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, adipisci perferendis repudiandae facilis accusamus sequi officia quos tenetur numquam odit atque repellendus reprehenderit nam quaerat odio cumque recusandae distinctio ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laborum vel voluptate ipsam asperiores molestias ab quibusdam cum veritatis quos neque dolores, consequatur enim? Optio enim odio quasi vitae molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sit nisi velit error quidem magni quaerat delectus cum dignissimos saepe, labore laudantium earum eveniet, reiciendis, corrupti unde explicabo illum. Ratione.</p>

            <h2>Lorem Ipsum</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam a est corporis aspernatur laudantium molestiae. Ipsum laboriosam commodi alias sunt expedita odio ipsa quas saepe repellendus labore. Voluptatibus, repellat possimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus saepe, dolorem molestiae aliquam mollitia deserunt nulla nihil laborum ea doloremque aperiam nesciunt ratione perferendis. Placeat voluptates laborum dolores fugit alias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, adipisci perferendis repudiandae facilis accusamus sequi officia quos tenetur numquam odit atque repellendus reprehenderit nam quaerat odio cumque recusandae distinctio ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laborum vel voluptate ipsam asperiores molestias ab quibusdam cum veritatis quos neque dolores, consequatur enim? Optio enim odio quasi vitae molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sit nisi velit error quidem magni quaerat delectus cum dignissimos saepe, labore laudantium earum eveniet, reiciendis, corrupti unde explicabo illum. Ratione.</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam a est corporis aspernatur laudantium molestiae. Ipsum laboriosam commodi alias sunt expedita odio ipsa quas saepe repellendus labore. Voluptatibus, repellat possimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus saepe, dolorem molestiae aliquam mollitia deserunt nulla nihil laborum ea doloremque aperiam nesciunt ratione perferendis. Placeat voluptates laborum dolores fugit alias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, adipisci perferendis repudiandae facilis accusamus sequi officia quos tenetur numquam odit atque repellendus reprehenderit nam quaerat odio cumque recusandae distinctio ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laborum vel voluptate ipsam asperiores molestias ab quibusdam cum veritatis quos neque dolores, consequatur enim? Optio enim odio quasi vitae molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sit nisi velit error quidem magni quaerat delectus cum dignissimos saepe, labore laudantium earum eveniet, reiciendis, corrupti unde explicabo illum. Ratione.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let windowHeight = window.innerHeight;

        let headerHeight = document.querySelector("#header-content").offsetHeight;

        let imageHeight = windowHeight - headerHeight;

        document.querySelector(".bg-image").style.minHeight = imageHeight + "px";
    });
</script>
<script>
    document.getElementById('scrollButton').addEventListener('click', function () {
        const contentSection = document.getElementById('contentSection');
        contentSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
    });
</script>
{% endblock %}