{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-3 mb-3">SnowTricks</h1>

    <div class="text-end">
        <a class="d-inline-block btn btn-success mb-3" href="#">Ajouter un Trick</a>
    </div>

    <div class="row g-4 mb-3">
        {% for trick in tricks %}
            <div class="col-6 col-md-4 col-lg-2">
                <div class="shadow rounded">
                    <img class="img-fluid w-100 rounded-top" src="{{ trick.illustration }}" alt="{{ trick.name }}" />
                    <div class="p-2">
                        <p class="d-flex justify-content-between mb-0">
                            <span>{{ trick.name }}</span>
                            <span><a href="#"><i class="fas fa-edit text-warning"></i></a> <a href="#"><i class="fas fa-trash text-danger"></i></a></span>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
