{% extends 'base.html.twig' %}

{% block title %}500 Error{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="text-center fs-1 mt-5 mb-5">500 Error: Internal Server Error</h1>

        <p>We're sorry, but something went wrong.</p>
    </div>
{% endblock %}
