{% extends 'base.html.twig' %}

{% block title %}404 Error{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="text-center fs-1 mt-5 mb-5">An error has occurred</h1>
    </div>
{% endblock %}
